<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

<!--<p th:text="${locationStats}"></p>-->

<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reported</th>
    </tr>
    <tr th:each="locationstat : ${locationStats}">
        <td th:text="${locationstat.state}"></td>
        <td th:text="${locationstat.country}"></td>
        <td th:text="${locationstat.latestTotalCases}">0</td>
    </tr>
</table>

</body>

</html>